<div class="chart-shell">
    <div [style]="{'text-align': 'start', margin: '0rem 5rem 1rem 5rem'}">
        <p>Welcome, {{(this.user | async)?.name}}</p>

        <div class="options">
            <div class="card flex justify-content-center">
                <form [formGroup]="symbolFormGroup">
                    <p-selectButton [options]="symbolOptions" formControlName="symbol"
                        (onChange)="changeSymbol($event.value)"></p-selectButton>
                </form>
            </div>

            <div class="card flex justify-content-center">
                <form [formGroup]="intervalFormGroup">
                    <p-selectButton [options]="intervalOptions" formControlName="interval"
                        (onChange)="changeInterval($event.value)"></p-selectButton>
                </form>
            </div>

            <p-button [routerLink]="['/','views']" label="Go to all Views"></p-button>
        </div>
    </div>

    <p-card>
        <p-chart type="line" [data]="data" [options]="options"></p-chart>
    </p-card>

    <p-button (click)="saveView()" label="Save View" [style]="{'margin': '2rem'}"></p-button>
</div>