<div class="chart-shell">
    <div [style]="{'text-align': 'start', margin: '0rem 5rem 1rem 5rem'}">
        <p>Welcome, USER</p>

        <div class="options">
            <div class="card flex justify-content-center">
                <form [formGroup]="symbolFormGroup">
                    <p-selectButton [options]="symbolOptions" formControlName="value" optionLabel="label"
                        optionValue="value"></p-selectButton>
                </form>
            </div>

            <div class="card flex justify-content-center">
                <form [formGroup]="intervalFormGroup">
                    <p-selectButton [options]="intervalOptions" formControlName="value" optionLabel="label"
                        optionValue="value"></p-selectButton>
                </form>
            </div>

            <p-button label="Go to all Views"></p-button>
        </div>
    </div>

    <p-card>
        <p-chart type="line" [data]="data" [options]="options"></p-chart>
    </p-card>

    <p-button (onclick)="viewAll()" label="Save View" [style]="{'margin': '2rem'}"></p-button>
</div>