<div class="card">
    <p-button label="Back" [routerLink]="['/']" [style]="{'margin-bottom': '2rem'}"></p-button>

    <p-table [value]="(this.views$ | async)?.items!" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 20]">

        <ng-template pTemplate="header">
            <tr>
                <th style="width:33.3%">Symbol</th>
                <th style="width:33.3%">Period</th>
                <th style="width:33.3%">Actions</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-view>
            <tr>
                <td>{{ view.symbol }}</td>
                <td>{{ view.interval }}</td>
                <td>
                    <p-button [routerLink]="['/']" [queryParams]="{'symbol': view.symbol, 'interval': view.interval}"
                        label="View"></p-button>
                    <p-button (onClick)="deleteView(view.id)" label="Delete" severity="danger"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>